.mainTitle {
  margin-top: 120px;
  color: rgb(47, 32, 1);
  font-weight: 700;
  font-size: 48px;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle {
  margin-top: 60px;
  color: rgb(77, 52, 3);
  font-weight: 500;
  font-size: 48px;
}
